  <!-- grupo de botones -->
  <div class="container-md mw-75 shadow-lg bg-body rounded" style="
  padding-left: 0px;
  padding-right: 00px;
  ">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-outline-link me-1 ms-1" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Intereses
      </button>
      <div class="vr border border-dark border-0 opacity-100"></div>
      <button class="btn btn-outline-link me-1 ms-1" type="button">
        Añadir Sección
      </button>
      <div class="vr border border-dark border-0 opacity-100"></div>
      <button class="btn btn-outline-link me-1 ms-1" type="button">
        Más
      </button>
    </div>
    <!-- grupo de bottoms -->
    <!-- divisor -->
    <hr class="hr hr-blurry" style="
  margin-bottom: 0px;
  margin-top: 5px;">
    <!-- divisor -->
    <!-- collapse -->
    <div class="collapse bg-light" id="collapseExample">
      <div class="card card-body bg-light">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>
    <!-- collapse -->
  </div>
  <!-- grupo de botones -->
  