  <!-- experiencia -->
  <div class="container-md mw-75 shadow-lg bg-body rounded" style="
  padding-left: 0px;
  padding-right: 00px;
  ">
    <!-- div card header -->
    <div class="card-header">
      <!-- div card header d-flex -->
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title" style="
      margin-bottom: 0px;
      ">
          Experiencia</h5>
        <button type="button" class="btn btn-link btn-rounded">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
      <!-- div card header d-flex -->
    </div>
    <!-- div card header -->
    <!-- div card body -->
    <div class="card-body">
      <!-- div subtitulo -->
      <div class="d-flex justify-content-between align-items-center">
        <!-- elem I -->
        <h5 class="card-title">Experiencia</h5>
        <!-- elem I -->
        <!-- elem II -->
        <div>
          <button type="button" class="btn btn-link btn-rounded">
            <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal"></i>
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
  
                <!-- Cabecera del modal -->
                <div class="modal-header">
                  <h4 class="modal-title">Editar información</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
  
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="titulo" class="form-label">Título:</label>
                      <input type="text" class="form-control" id="titulo">
                    </div>
                    <div class="mb-3">
                      <label for="imagen" class="form-label">Imagen:</label>
                      <input type="file" class="form-control" id="imagen">
                    </div>
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción:</label>
                      <textarea class="form-control" id="descripcion" rows="3"></textarea>
                    </div>
                  </form>
                </div>
  
                <!-- Pie del modal -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
  
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-link btn-rounded">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <!-- elem II -->
      </div>
      <!-- div subtitulo -->
      <!-- div body flex -->
      <div class="d-flex align-items-center">
        <!-- div body img -->
        <div class="flex-shrink-0">
          <img src="../img/logo/Logo - Argentina Programa - black.png" alt="..." style="height: 120px; width: 100%;">
        </div>
        <!-- div body img -->
        <!-- div body text -->
        <div class="flex-grow-1 ms-3">
          This is some content from a media component. You can replace this with any content and adjust it as needed.
        </div>
        <!-- div body text -->
      </div>
      <!-- div body flex -->
    </div>
    <!-- div card body -->
  </div>
  <!-- experiencia -->
  